* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TO-DO - Header - component  */
/* TO-DO - Melhorar o style dps e a posicao dos elementos  */

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 30px;
    font-size: 50px;
}

p {
    font-size: 25px;
    margin: 20px 50px;
}

a {
    cursor: pointer;
}