@import url('./components/header.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TO-DO - Header - component  */
/* TO-DO - Melhorar o style dps e a posicao dos elementos  */

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 30px;
    font-size: 50px;
}

p {
    font-size: 25px;
    margin: 20px 10px;
}

a {
    cursor: pointer;
}

#conteudo {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}


.registro-item{
    border-style: double;
    margin: 0px 20px 0px 20px;
    margin-bottom: 20px;
}

.registros-ponto {
    margin: 20px 30px;
}

.toggle-details {
    color: black;
    text-decoration: none;
}

.registro-detalhe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
    
    padding: 10px;
    padding-right: 10px;

    
    border-style: ridge;
    border-width: 15px;
    border-color: gray;

    font-size: 1.3rem;
    line-height: 40px;
}

.registro-detalhe p {
    margin: 0px;
    margin-right: 20px;
}

button {
    padding: 5px;
    cursor: pointer;
}

.map {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.registro-details-latitude, .registro-details-longitude {
    padding-left: 5px;
}

details[open] {
    padding: 15px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.details-localização[open] .map {
    margin-top: 30px;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: darkslategray;
}

details[open] summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

details[open] p {
    margin: 5px 0;
}