* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TO-DO - Header - component  */
/* TO-DO - Melhorar o style dps e a posicao dos elementos  */

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 30px;
    font-size: 50px;
}

p {
    font-size: 25px;
    margin: 20px 50px;
}

a {
    cursor: pointer;
}

#conteudo {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}

.registro-detalhe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 10px;
}

.registro-detalhe p {
    margin: 0px;
    margin-right: 20px;
}

button {
    padding: 5px;
    cursor: pointer;
}
