@import url('./components/header.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./components/footer.css');

:root {
    --fonte-poppins: "Poppins", sans-serif;
    --azul-claro: #3F72AF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.data-hora {
    text-align: center;
    font-weight: normal;
    font-style: normal;
    padding: 50px;
    background-color: #DBE2EF;
    align-self: center;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.493);
}

#btn-dialog-fechar, #btn-dialog-fechar-pass {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#btn-dialog-fechar:hover , #btn-dialog-fechar-pass:hover {
    color: black;
    background-color: rgb(235, 149, 149);
}

#dialog-hora-pass {
    margin-bottom: 10px;
}

#data, #tipos-ponto-pass {
    border-radius: 4px;
    border: 0.5px solid black;
    padding: 13px;
    cursor: pointer;
    margin-bottom: 20px;
}

#alerta-registro-ponto {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    padding: 20px;
}

.data-hora p {
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-family: var(--fonte-poppins);
}

#alerta-registro-ponto p {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    font-family: var(--fonte-poppins);
    font-weight: 400;
    font-style: normal;
}

#alerta-registro-ponto-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}


#div-btn-bater-ponto {
    margin-top: 50px;
    text-align: center;
}

#div-btn-bater-ponto button {
    border-radius: 20px;
    padding: 30px;
    font-family: var(--fonte-poppins);
    font-size: 2rem;
    cursor: pointer;
}

#div-btn-bater-ponto button:hover {
    transform: scale(1.1);
}

#relatorioButton, #btn-bater-ponto-pass, #btn-bater-ponto {
    background-color: var(--azul-claro);
    color: white;
    border: none;
    transition: transform 0.3s ease;
}

#relatorioButton:hover, #btn-bater-ponto-pass:hover {
    transform: scale(1.1);
}

#relatorioButton {
    margin-right: 30px;
}

#dialog-ponto p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#dialog-ponto select {
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 15px;
}

#input-observacao {
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 15px;
}

#btn-dialog-bater-ponto {
    padding: 20px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 15px;
    background-color: rgb(22, 206, 22);
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease;
}

#btn-dialog-bater-ponto-pass {
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(22, 206, 22);
    color: white;
    font-weight: normal;
    transition: transform 0.3s ease;
}

#btn-dialog-bater-ponto:hover , #btn-dialog-bater-ponto-pass:hover {
    transform: scale(1.05);
}

.div-input-observacao {
  margin: 5px;
}

.input-observacao {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

#outros-botoes {
    align-self: center;
    margin-top: 40px;
}

#outros-botoes button{
    border-radius: 10px;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
}

#dialog-ponto, #dialog-ponto-pass {
    padding: 100px;
    border-radius: 10px;
    margin: auto;
    border: none;
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.493);
    background-color: #eceaea;
}

#dialog-ponto-pass {
    font-size: 1.5rem;
}