@import url('./components/header.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --fonte-poppins: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.data-hora {
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 50px;
}


#btn-dialog-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
}

#alerta-registro-ponto {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    padding: 20px;
}

.data-hora p {
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-family: var(--fonte-poppins);
}

#alerta-registro-ponto p {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}


#alerta-registro-ponto-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}


#div-btn-bater-ponto {
    text-align: center;
    transition: transform 0.3s ease;
}

#div-btn-bater-ponto button {
    border-radius: 20px;
    padding: 30px;
    font-family: var(--fonte-poppins);
    font-size: 23px;
    cursor: pointer;
}

#div-btn-bater-ponto:hover {
    transform: scale(1.1);
}

#btn-bater-ponto, #btn-bater-ponto-pass, #relatorioButton {
    padding: 20px;
    background-color: blue;
    color: white;
    font-size: 1.3rem;
    border: 0px;
}

#dialog-ponto p {
    font-size: 1.5rem;
    text-align: center;
}

#dialog-ponto select {
    padding: 20px;
    font-size: 1.3rem;
}

#btn-dialog-bater-ponto {
    padding: 20px;
    font-size: 1.3rem;
}

.div-input-observacao {
  margin: 5px;
}

.input-observacao {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

#outros-botoes {
    align-self: center;
    margin-top: 40px;
}

#outros-botoes button{
    border-radius: 10px;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
}

#dialog-ponto, #dialog-ponto-pass {
    padding: 150px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid black;
}

#btn-dialog-fechar-pass {
    position: absolute;
    top: 10px;
    right: 10px;
}