* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #003459;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 15px;
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.history-button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.user-circle {
    width: 50px;
    height: 50px;
    background-color: #ADEBFF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
