:root {
    --fonte-poppins: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-poppins);
    background-color: #f4f4f4;
}

header {
    background-color: #003459;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
}


.logo img {
    height: 60px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.2);
}

.header-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.history-button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #007EA7;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 20px;
}

.history-button:hover {
    background-color: #005F73;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user-circle {
    width: 50px;
    height: 50px;
    background-color: #ADEBFF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
}

.user-circle:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
